@model IEnumerable<Product>
@{
    ViewData["Title"] = "Listing Product";
}

<link href="@Url.Content("~/css/site.css")" rel="stylesheet" />


<div class="row">
   @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {

                    <a asp-action="Delete" asp-route-id="@item.Id">

                        <input type="submit" value="Delete" class="btn btn-outline-danger"
                        onclick="return confirm('Are You Sure Want To Delete This Product?')" />
                    </a>
                    <a asp-action="Edit" asp-controller="Products" asp-route-id="@item.Id">
                        <i class="fas fa-regular fa-pencil"></i>
                </a>
                }
                @* <img src="@Url.Content(@item.ImageURL)" alt="@item.Name" style="width:90%;height:300px;"/>  this way is ok *@
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.ImageURL" alt="@item.Name" style="width:90%;height:300px;" /> @*and this is ok if the bath in db not start with ~/*@
                </a>
               
                <h1>@item.Name</h1>
                <p>@item.Price.ToString("c")</p>
                <p>@item.Description</p>
                <p>
                <span class="dot" style="background-color: @item.ProductColor;"> </span>
                    <span class="ProColorDisplay">@item.ProductColor</span>
                </p>
                <p>@item.Category.Name</p>
                <a class="btn btn-success" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@item.Id">
                    <i class="fas fa-regular fa-shopping-basket mr-2"></i>
                    Add To Cart
                </a>
            </div>
        </div>
    }

</div>
@await Html.PartialAsync("_CreateItem", "Products")

@* رح اضيف ال 
styl e
داخل ملف ال 
site.css
بال
wwwroot->css
*@
