@model IEnumerable<Product>
@{
    ViewData["Title"] = "Listing Product";
}

<link href="@Url.Content("~/css/site.css")" rel="stylesheet" />


<div class="row">
   @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                @* <img src="@Url.Content(@item.ImageURL)" alt="@item.Name" style="width:90%;height:300px;"/>  this way is ok *@
                <img src="@item.ImageURL" alt="@item.Name" style="width:90%;height:300px;"/> @*and this is ok if the bath in db not start with ~/*@
                <h1>@item.Name</h1>
                <p>@item.Price.ToString("c")</p>
                <p>@item.Description</p>
                <p>
                <span class="dot" style="background-color: @item.ProductColor;"> </span>
                    <span class="ProColorDisplay">@item.ProductColor</span>
                </p>
                <p>@item.Category.Name</p>
                <button>Add To Cart</button>
            </div>
        </div>
    }

</div>

@* رح اضيف ال 
style
داخل ملف ال 
site.css
بال
wwwroot->css
*@
