@model IEnumerable<Order>
@{
    ViewData["Title"] = "Listing All Orders";
}
<div class="row">
    <div  class="col-md-8 offset-2">
        <h2>All Orders</h2>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Items</th>
                    <th>Totals</th>
                    <th>User</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr> 
                        <td class="align-middle"> @item.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none" class="alert alert success">
                                @foreach (var subitem in item.OrderItems)
                                {
                                    <li>@subitem.Product.Name - <b class="badge badge-danger rounded-circle"></b> - @subitem.Amount - @subitem.Price.ToString("c") </li>
                                }
                            </ul>
                             
                        </td>
                        <td class="align-middle">
                            @item.OrderItems.Select(x=>x.Price * x.Amount).Sum().ToString("c");
                        </td>
                        <td>
                            -
                        </td>
                   </tr>
                   
                }
            </tbody>
        </table>
    </div>
</div>